*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation{
    /* border: 2px solid red; */
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right {
    /* border: 2px solid blue; */
    /* height: 90px; */
  
}
.right img{
    width: 160px;   
}